<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="hideModalUsers()" color="warning">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="warning">Busca y agrega amigos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Busca jugadores" (ionChange)="updateTextSearch($event)"></ion-searchbar>
  <ion-progress-bar type="indeterminate" color="warning" *ngIf="loading"></ion-progress-bar>
  <ion-item lines="none" class="ion-padding ion-text-wrap" *ngIf="users.length === 0">
    <ion-label color="medium" class="ion-text-center ion-text-wrap">
      <h2>Intenta buscar a tus amigos por nombre o email</h2>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="users.length > 0">
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.photoURL" alt="profile photo">
      </ion-avatar>
      <div class="lm-display-user-name">
        <ion-label>{{user.displayName}}</ion-label>
        <ion-label color="medium" slot="end" class="ion-text-end">
          <small>{{user.email}}</small>
        </ion-label>
      </div>
      <ion-button slot="end" color="warning" (click)="addFriend(user)"
                  [disabled]="user.isFriend" *ngIf="fireAuth.lotteryUser.uid !== user.uid">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
