<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!loading">
      <ion-button *ngIf="isCreator" [disabled]="!canPlay()" (click)="startGame()">
        <ion-icon name="play" color="dark"></ion-icon>
      </ion-button>
      <ion-button (click)="showMessagesPage()">
        <ion-icon color="dark" slot="icon-only" name="chatbox"></ion-icon>
      </ion-button>
      <ion-button (click)="showWinnersModal()">
        <ion-icon color="dark" slot="icon-only" name="trophy"></ion-icon>
      </ion-button>
      <ion-button (click)="showFriendsPage()">
        <ion-icon color="dark" slot="icon-only" name="people-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="generateCurrentBoard()" [disabled]="!canPlay()">
        <ion-icon color="dark" slot="icon-only" name="refresh-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isCreator" (click)="showBoardSettingsModal()" [disabled]="!canPlay()">
        <ion-icon color="dark" slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="dark" *ngIf="!loading"
                    [value]="boardsService.currentCard / boardsService.board.currentDeck.length"></ion-progress-bar>
</ion-header>
<ion-content color="warning">
  <ion-progress-bar type="indeterminate" color="warning" *ngIf="loading; else notLoading"></ion-progress-bar>
  <ng-template #notLoading>
    <app-history-slides slot="fixed" class="lm-history-container"></app-history-slides>
    <app-board *ngIf="boardsService.board" [maxWidth]="maxWidth" [maxHeight]="maxHeight"
               [boardUid]="boardUid" [userUid]="userUid" (cardSelectedEvent)="cardSelected($event)"></app-board>
  </ng-template>
</ion-content>
